

<h2 class="md-headline">
1.- Instalando las Dependencias para el Ambiente de Desarrollo:
</h2>

<p>
	<i>
		(Omitir este paso si ya has configurado previamente un ambiente de desarrollo para otro proyecto).
	</i>
	<br />
	Antes de comenzar a configurar el ambiente de desarrollo son necesarias 
	las siguientes dependencias (En el orden presentado):


	<ul class="doc-list">
		<li>
			<a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">
				Git:
			</a>

			Control de versiones para nuestro proyecto... 
			solo con esa descripción basta...
		</li>
		<li>
			<a href="https://nodejs.org/" target="_blank">
				Node.js:
			</a>

			Administrador de paquetes , y contiene las funcionalidades mas importante 
			para la optimización de los tiempos de desarrollo.
		</li>
		<li>
			<a href="http://gruntjs.com/" target="_blank">
				Grunt:
			</a>

			Nuestro principal caballito de batalla en la <strong>automatización de los procesos</strong> 
			monótonos como la reducción , unificación y ofuscación de archivos, así como también la de 
			proveernos en una sola linea la configuración y creación del servidor web 
			que usaremos para el desarrollo.
		</li>
		<li>
			<a href="http://bower.io/" target="_blank">
				Bower:
			</a>

			El administrador de tareas de nuestra aplicación web  <strong>AngularJS</strong> , 
			y que nos permitirá administrar las librerías (<strong>bundles</strong>) que 
			necesitemos usar en la creación de nuestra aplicación , 
			<i>
				(google-map, angular-material, angular-ui-route, etc., en 
				resumen ya no necesitaremos buscar los componentes o 
				librerías externas nunca mas)
			</i>
		</li>
	</ul>

	<hljs language="bash">
# Instalamos angular-gale en el proyecto y guardamos 
# la dependencia en el archivo bower.json
bower install angular-gale --save
	</hljs>

</p>
<br />

<h2 class="md-headline">
	2.- Configurando el Ambiente de Desarrollo:
</h2>

<p>
	Una vez instalada la dependencia en el proyecto , asociamos la dependencia 
	en nuestro proyecto web.
	<br />

	<hljs language="html" escape="false">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;link rel="stylesheet" href="angular-gale/dist/angular-gale.css"&gt;
  &lt;/head&gt;
  &lt;body ng-app="App"&gt;
    &lt;div ng-controller="DemoController"&gt;
    &lt;/div&gt;

    &lt;!-- Other Scripts Like Angular && Angular Material before --&gt;
    &lt;script src="angular-gale/dist/angular-gale.js"&gt;&lt;/script&gt;

    &lt;script&gt;
      // Include Gale dependency on you APP
      angular.module( 'YourApp', [ 'Gale' ] )
      .controller("DemoController", DemoController );
    &lt;/script&gt;

  &lt;/body&gt;
&lt;/html&gt;
	</hljs>
	<br />
</p>
<br />